body {
  background-color: #0d1b2a;
  font-family: "verdana";
}

h1 {
  color: #f7f7ff;
}

p {
  color: #e0e1dd;
}
  
a:link {
  color: #778da9;
}

a:visited {
  color: #415a77;
}

a:hover {
  color: #bdd5ea;
}

a:selected {
  color: #778da9;
}

li {
  color: #e0e1dd;
}

li span {
  color: #e0e1dd;
}
